.usersContainer {
  box-shadow: 0 0 10px #2b303a;
  background-color: #58a4b0;
  padding: 10px 0;
  border-radius: 7px;
}

.inputField {
  padding: 0.9em;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px #2b303a;
}

.addBtn {
  background-color: #d8a47f;
  box-shadow: 0 0 10px #2b303a;
  width: 100px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

.addBtn:hover {
  background-color: #f1f7ed;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}
